# Database (Supabase)
# Pooler connection for runtime
DATABASE_URL="postgresql://postgres.gmqvcdgrtkxeltnfskwz:Aymansukaina%401@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
# Direct connection for migrations
DIRECT_URL="postgresql://postgres.gmqvcdgrtkxeltnfskwz:Aymansukaina%401@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres"

# Clerk (Authentication)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_xxx"
CLERK_SECRET_KEY="sk_test_xxx"
CLERK_WEBHOOK_SECRET="your_webhook_secret_here"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Supabase client
NEXT_PUBLIC_SUPABASE_URL="https://gmqvcdgrtkxeltnfskwz.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdtcXZjZGdydGt4ZWx0bmZza3d6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE2NDUzNjQsImV4cCI6MjA3NzIyMTM2NH0.3g2p6k2WySIk9dlaoOKbQ_nlKrxj2fOSgB9frY-McfM"

# App Configuration
NODE_ENV="development"

