/* tickr-app/src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme tokens */
:root {
  --success: 142 71% 45%; /* hsl version for green */
  --success-foreground: 0 0% 100%;

  --background: 249 5% 98%;
  --foreground: 282 23% 16%;
  --card: 0 0% 100%;
  --card-foreground: 282 23% 16%;
  --popover: 0 0% 100%;
  --popover-foreground: 282 23% 16%;
  --primary: 341 68% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 286 5% 95%;
  --secondary-foreground: 282 23% 16%;
  --muted: 286 5% 95%;
  --muted-foreground: 282 23% 16%;
  --accent: 171 65% 65%;
  --accent-foreground: 282 23% 16%;
  --destructive: 34 75% 45%;
  --destructive-foreground: 0 0% 100%;
  --border: 225 5% 92%;
  --input: 225 5% 92%;
  --ring: 341 68% 50%;

  --sidebar: 286 5% 95%;
  --sidebar-foreground: 282 23% 16%;
  --sidebar-primary: 341 68% 50%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 171 65% 65%;
  --sidebar-accent-foreground: 282 23% 16%;
  --sidebar-border: 225 5% 92%;
  --sidebar-ring: 341 68% 50%;

  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Fira Code, monospace;

  --radius: 0.5rem;
}

/* Dark theme tokens */
.dark {
  --success: 142 71% 45%;
  --success-foreground: 0 0% 100%;

  --background: 282 23% 16%;
  --foreground: 260 2% 95%;
  --card: 282 20% 25%;
  --card-foreground: 260 2% 95%;
  --popover: 282 20% 25%;
  --popover-foreground: 260 2% 95%;
  --primary: 341 68% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 282 20% 25%;
  --secondary-foreground: 260 2% 95%;
  --muted: 282 20% 25%;
  --muted-foreground: 278 7% 62%;
  --accent: 171 65% 65%;
  --accent-foreground: 282 23% 16%;
  --destructive: 34 75% 45%;
  --destructive-foreground: 0 0% 100%;
  --border: 281 15% 32%;
  --input: 281 15% 32%;
  --ring: 341 68% 50%;

  --sidebar: 282 23% 16%;
  --sidebar-foreground: 260 2% 95%;
  --sidebar-primary: 341 68% 50%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 171 65% 65%;
  --sidebar-accent-foreground: 282 23% 16%;
  --sidebar-border: 281 15% 32%;
  --sidebar-ring: 341 68% 50%;
}

/* Apply defaults */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
